<!DOCTYPE html>
<html lang="en"
	class="fa5-events-icons-ready fa5-events-typefaces-fa5-proxima-nova-ready fa5-events-typefaces-fa5-proxima-nova-normal-normal-ready fa5-events-typefaces-fa5-proxima-nova-600-normal-ready fa5-events-typefaces-fa5-proxima-nova-bold-normal-ready fa5-events-typefaces-fa5-proxima-nova-normal-italic-ready">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" href="styles.css">

<link data-prerender="keep" rel="apple-touch-icon" sizes="57x57"
	href="https://fontawesome.com/images/favicons/apple-icon-57x57.png">
<link data-prerender="keep" rel="apple-touch-icon" sizes="60x60"
	href="https://fontawesome.com/images/favicons/apple-icon-60x60.png">
<link data-prerender="keep" rel="apple-touch-icon" sizes="72x72"
	href="https://fontawesome.com/images/favicons/apple-icon-72x72.png">
<link data-prerender="keep" rel="apple-touch-icon" sizes="76x76"
	href="https://fontawesome.com/images/favicons/apple-icon-76x76.png">
<link data-prerender="keep" rel="apple-touch-icon" sizes="114x114"
	href="https://fontawesome.com/images/favicons/apple-icon-114x114.png">
<link data-prerender="keep" rel="apple-touch-icon" sizes="120x120"
	href="https://fontawesome.com/images/favicons/apple-icon-120x120.png">
<link data-prerender="keep" rel="apple-touch-icon" sizes="144x144"
	href="https://fontawesome.com/images/favicons/apple-icon-144x144.png">
<link data-prerender="keep" rel="apple-touch-icon" sizes="152x152"
	href="https://fontawesome.com/images/favicons/apple-icon-152x152.png">
<link data-prerender="keep" rel="apple-touch-icon" sizes="180x180"
	href="https://fontawesome.com/images/favicons/apple-icon-180x180.png">

<link data-prerender="keep" rel="icon" type="image/png" sizes="32x32"
	href="https://fontawesome.com/images/favicons/favicon-32x32.png">
<link data-prerender="keep" rel="icon" type="image/png" sizes="96x96"
	href="https://fontawesome.com/images/favicons/favicon-96x96.png">
<link data-prerender="keep" rel="icon" type="image/png" sizes="16x16"
	href="https://fontawesome.com/images/favicons/favicon-16x16.png">

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage"
	content="/images/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<title>Support | Font Awesome</title>

<link data-prerender="keep" rel="stylesheet"
	href="./Support _ Font Awesome_files/app-cdc03d5c40d8fc00d11d621250b651ae.css">

<script type="text/javascript" async=""
	src="./Support _ Font Awesome_files/o3ge867o"></script>
<script async=""
	src="./Support _ Font Awesome_files/analytics.js.descarga"
	charset="utf8"></script>
<script charset="utf-8"
	src="./Support _ Font Awesome_files/40.7084e97741d1e9ac3720.js.descarga"></script>
<meta name="application-name" content="Font Awesome 5 Support">
<meta name="description"
	content="Having trouble or got a specific question for us? We are here to help.">
<meta name="twitter:title" content="Font Awesome 5 Support">
<meta name="twitter:description"
	content="Having trouble or got a specific question for us? We are here to help.">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@fontawesome">
<meta itemprop="name" content="Font Awesome 5 Support">
<meta itemprop="description"
	content="Having trouble or got a specific question for us? We are here to help.">
<meta property="og:url" content="https://fontawesome.com/support">
<meta property="og:title" content="Font Awesome 5 Support">
<meta property="og:type" content="website">
<meta property="og:description"
	content="Having trouble or got a specific question for us? We are here to help.">
<meta property="og:image"
	content="https://fontawesome.com/images/open-graph.png">
<link rel="canonical" href="https://fontawesome.com/support"
	data-prerender="keep">
</head>

<body class="min-vh-100 bg-gray0 gray7 ma0 overflow-x-hidden">
	<div id="vue-container">
		<div id="page-top" class="wrapper-view">
			<nav class="nav-app-menu bg-gray9 white fixed top-0 bottom-0 overflow-y-auto br bw1 b--black-10 overflow-x-hidden">
				<div class="flex flex-row flex-nowrap items-stretch">
					<div class="pane pane-primary min-vh-100 w-100">
						
						<a href="https://fontawesome.com/" title="Home"
							class="link gray7 db pv3 ph4 hover-bg-blue5  hover-blue2"> <span class="ml2 white">Home</span></a> 
							
						<a 	href="https://fontawesome.com/icons" title="Icons"
							class="link gray7 db pv3 ph4 hover-bg-blue5  hover-blue2"> <span class="ml2 white">Icons</span></a> 
									
									<a 	href="https://fontawesome.com/how-to-use/on-the-web/setup"
							title="How to Use on the Web"
							class="link gray7 db pv3 ph4 hover-bg-blue5  hover-blue2"> <span class="ml2 white">How to Use on
								the Web</span></a>
								
							<a href="https://fontawesome.com/how-to-use/on-the-desktop/setup"
							title="How to Use on the Desktop"
							class="link gray7 db pv3 ph4 hover-bg-blue5  hover-blue2"><span class="ml2 white">How to Use on
								the Desktop</span></a> 
							
							<a href="https://fontawesome.com/pricing"
							title="Pricing"
							class="link gray7 db pv3 ph4 hover-bg-blue5  hover-blue2"> <span class="ml2 white">Pricing</span></a> 
							
							<a 	href="https://fontawesome.com/support" title="Support"
							class="link gray7 db pv3 ph4 bg-black">
							<span class="ml2 white">Support</span></a> 
							
							<a href="https://fontawesome.com/sessions/sign-in"
							class="link gray7 db pv3 ph4 hover-bg-blue5  hover-blue2"
							title="Sign In"> <span class="ml2 white">Sign In</span></a>
					</div>
				</div>
				<!---->
			</nav>

			<div class="view flex flex-column min-vh-100 db-pr">
				<div class="dn-pr flex-none w-100">
				</div>
				<header
					class="header-app dn-pr flex-none w-100 ph4 ph6-ns pv3 pv4-l z-5 bg-white shadow-2">
					<div 
						class="mw9 center flex flex-row flex-nowrap items-center justify-between relative">
						<button type="button"
							class="db dn-l button-reset pa0 tl bn bg-transparent sans-serif link color-inherit o-60 glow pointer outline-0-focus">
						</button>
						<div class="mr5-l pr5-l flex flex-row flex-nowrap items-center">
							<h1 class="ma0 mr6-l">
								<a href="https://fontawesome.com/"
									class="router-link-active flex flex-row flex-nowrap items-center justify-center link color-inherit router-link-active pt1-l outline-0-focus relative top--025-l hover-blue6">
									<span 	class="fa-layers fa-fw white fa-lg"> </span>
2									<span 	class="dn db-ns dn-l db-xl fw6 f5 mt1 tracked0 ml1">Font  Awesome</span></a>
							</h1>
							<nav
								class="dn flex-l nr5-l flex-row flex-nowrap items-center nav-app">
								<a href="https://fontawesome.com/icons"
									class="link color-inherit fw6 mr5 o-60 glow">Icons</a> <a
									href="https://fontawesome.com/how-to-use"
									class="link color-inherit fw6 mr5 o-60 glow">How to Use</a> <a
									href="https://fontawesome.com/support"
									class="link color-inherit fw6 mr5">Support</a> <a
									href="https://fontawesome.com/pricing"
									class="link color-inherit fw6 mr5 o-60 glow">Pricing</a>
							</nav>
						</div>
						<div>
							<a href="#" class="link color-inherit fw6 color-inherit o-60 glow pointer">
								<span class="dn dib-l v-mid mr1">Sign In</span></a>
						</div>
					</div>
				</header>
				
				<div class="flex-grow-1 flex-shrink-0 flex-basis-auto">
					<div class="mw9 center flex-grow-1 flex-shrink-0 flex-basis-auto pv6 ph4 ph6-ns bg-white">
						<div class="flex flex-column flex-row-l justify-between-l">
							<main class="w-two-thirds-l order-2 order-1-l nb6">
								<div class="mb6">
									<h1 class="mt0 mb2 f7 fw6">Support</h1>
									<p class="mv0 lh-copy f5 gray6">
										Having trouble or got a specific question for us? We're here to help.
									</p>
								</div>
							</main>
						</div>
					</div>
				</div>
				
				
				<footer class="footer-app dn-pr flex-none w-100 bg-gray8 gray5">
					<div class="mw9 center flex flex-row flex-wrap flex-wrap items-stretch ph6 pv6">
					
						<div class="w-100 w-50-m w-25-l pr5 mb5 mb0-l">
							<h2 class="ttu tracked2 b f2 mt0 mb3 ml5-ns gray6">Project</h2>
							<a href="https://fontawesome.com/changelog/latest"
								class="db mb2 pb1 link gray3 hide-child hover-white"> Latest Release </a> 
						</div>
						
						<div class="w-100 w-50-m w-25-l pr5 mb5 mb0-l">
							<h2 class="ttu tracked2 b f2 mt0 mb3 ml5-ns gray6">Icons</h2>
							<a href="https://fontawesome.com/icons?d=gallery"
								class="db mb2 pb1 link gray3 hide-child hover-white">Gallery </a> 
						</div>
						
						<div class="w-100 w-50-m w-25-l pr5 mb5 mb0-l">
							<h2 class="ttu tracked2 b f2 mt0 mb3 ml5-ns gray6">Support</h2>
							<a
								href="https://fontawesome.com/how-to-use/on-the-web/other-topics/troubleshooting"
								class="db mb2 pb1 link gray3 hide-child hover-white">Troubleshooting </a> 
						</div>
						
						<div class="w-100 w-50-m w-25-l pr5">
							<h2 class="ttu tracked2 b f2 mt0 mb3 ml5-ns gray6">Company</h2>
							<a href="https://blog.fontawesome.com/" target="_blank"
								class="db mb2 pb1 link gray3 hide-child hover-white"> 
								Blog 
							</a> 

						</div>
						
					</div>
					
					<div class="bg-gray9 gray6 f2">
						<div
							class="mw9 center ph6 ph7-l pv5 flex flex-column flex-row-l flex-wrap flex-nowrap-l items-center justify-center justify-between-l">
							<div
								class="flex-grow--1-l pr5-l pb3 pb0-l tc tl-l order-2 order-1-l">
							</div>
							<div class="pr5-l tc order-3 order-2-l">
								<span class="link hover-colorCycle glow gray7"></span>
							</div>
							<div
								class="flex-grow--1-l  pr5-l pb3 pb0-l flex flex-row flex-nowrap justify-between items-center justify-end-l order-1 order-3-l">
								<p class="lh-copy mv0 pr5">2018 © Fonticons, Inc.</p>
							</div>
						</div>
					</div>
				</footer>
			</div>
			<!---->
		</div>
	</div>
	
	</div>
</body>
</html>