<!DOCTYPE html>
<html lang="es" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Controlfy</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	
	<link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}"/>	
	
	<style type="text/css">
		body {
			font-family: 'Montserrat', serif !important;
			font-size: 16px !importante;	
			background-color: currentColor !important;
		}	
	</style>
</head>

<body>

	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand h4 logo-text" href="#">
		 <i class="fas fa-calculator fa-lg align-middle logo-img"></i>
		 Controlfy
		</a>
	</nav>

	<div class="container">
		<div class="upload-container ">
			<div class="upload-content text-center">
				<div class="single-upload">
					<h3>Operaciones del per&iacute;odo</h3>
					<form method="POST" enctype="multipart/form-data" action="/controlfy/uploadFile">
						<input id="singleFileUploadInput" type="file" name="file" class="file-input" required accept=".xls,.xlsx" />
						<button type="submit" class="primary submit-btn">Procesar Archivo</button>
					</form>
				</div>
			</div>
			
			<div class="container" th:if="${control != null}">
				<div class="card" style="width: 100%; margin-top: 20px;" >
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item" style="background-color: rgba(184, 195, 31, 0.65);">  <b> Resumen</b>   </li>
				    <li class="list-group-item">  <b> Cantidad filas: </b><span th:text="${control.cantidadMovimientos}"></span>   </li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
	

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>
